.card {
    border-color: dodgerblue;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.operator-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.row-padding {
    margin-bottom: 20px;
    position:relative;
}

.ribbon {
  position:absolute;
  top:0;
  right:0;
}
