<div class="modal-header">
    <h3>Files to upload.</h3>
    <button class="btn btn-sm btn-outline-danger" (click)="closeModal('custom-modal-1')">cancel</button>
</div>
<div>
    <app-file-upload-item *ngFor="let item of uploadFiles"
                     [uploadfile]="item"
                     (removeItem)="removeItemFromUpload($event)"></app-file-upload-item>
</div>
<div>
    <button class="btn btn-sm btn-outline-success"
            (click)="closeModal('custom-modal-1'); onUpload()">
            upload
    </button>
</div>
