.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color:  #e7e7e761;
  border-top: 2px solid #ddd;
}

footer div.col-sm-6 ul li a{
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
}

footer div.col-sm-6 ul li a:hover{
	text-decoration: none;
    color: #0f9de4;
}

footer div.col-sm-6 ul li{
	list-style-type: none;
}

/*footer social media*/
footer div.col-sm-6.text-right ul li a{
	width: 50px;
	height: 50px;
	background: #fff;
	text-align: center;
	line-height: 46px;
	float: right;
	font-size: 31px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}

footer div.col-sm-6.text-right ul li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
}

footer div.col-sm-6.text-right ul li a:hover .fa{
	color: #fff;
	transform: rotateY(360deg);
}

footer div.col-sm-6.text-right ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 1;
}

footer div.col-sm-6.text-right ul li a:hover:before {
	top: 0;
}

footer div.col-sm-6.text-right ul li:nth-child(1) a:before {
	background: #3b5999;
}
footer div.col-sm-6.text-right ul li:nth-child(2) a:before {
	background: #55acee;
}
footer div.col-sm-6.text-right ul li:nth-child(3) a:before {
	background: #0077b5;
}
footer div.col-sm-6.text-right ul li:nth-child(4) a:before {
	background: #cd201f;
}
footer div.col-sm-6.text-right ul li:nth-child(5) a:before {
	background: #131418;
}

.text-center b {
	font-style: oblique;
	margin-top: 5px;
}

.text-right b {
	font-style: oblique;
}