.center_div {
    margin-top: 200px;
}

.card {
    border-color: dodgerblue;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.operator-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}