<div class="auth">
    <div class="form">
        <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div *ngIf="confirm_message" class="alert alert-success">
                        <br><br>{{ confirm_message }}
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        <form class="form-horizontal"  [formGroup]="registerGroup" (ngSubmit)="toRegister()">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Register New User</h2>
                    <hr>
                    <br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="email">E-Mail Address</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" formControlName="email" required class="form-control" id="email"
                                   placeholder="you@example.com" autofocus>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div *ngIf="email == ''">
                        Email can not be empty
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                         class="alert alert-danger">

                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors.wrongFormat">
                            Wrong format of email.
                        </div>



                    </div>
                    <div class=" alert alert-danger" *ngIf="isEmailBusy == true">
                            {{ error_message }}
                        </div>
                </div>
                <div class="col-md-3">

                </div>

            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" formControlName="password" class="form-control" id="password"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                     <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <ul>
                            <li *ngIf="password.errors || password.errors">Password must be from 8
                                to 40 characters long and contain at least one digit.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success" [disabled]="!registerGroup.valid"> Register</button>
                </div>
            </div>

        </form>
    </div>
</div>


