@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}
#error{
    display: none;
}
#input_form{
    display: none;
}

.container.justify-content-center {
    margin-top: 20px;
}

strong h2 {
    padding: 20px;
}

.alert-success {
    border-radius: 3%;
}