    <!-- <button *ngIf="!showDatasetStat" class="stat" (click)="getStatDataset()">Stat</button> -->
    <h3>{{ userdataset.name }}</h3>
    <div>
        <span>  date: {{ userdataset.date | date }}</span>
        <!-- <button type="button" class="btn btn-success"(click)="downloadDataset(userdataset.id)">Download</button> -->
        <span>sample: {{ userdataset.items }}</span>

    </div>
    <div class="container ">
        <!-- Trigger the modal with a button -->
        <button type="button" id='data-target'
         class="btn btn-info"  data-toggle="modal" [attr.data-target]="'#myModal' + userdataset.id">Open Statistic</button>
        <!-- Modal -->
        <div class="modal fade" [attr.id]="'myModal' + userdataset.id" role="dialog">

            <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">
                        <app-statistics class="dataset-statistic" *ngIf="showDatasetStat"
                        [dataset_id]="userdataset.id"></app-statistics>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>


    </div>
    <div class="container ">
        <!-- Trigger the modal with a button -->
        <button type="button" id='data-target'
         class="btn btn-success btn-sm"  data-toggle="modal" [attr.data-target]="'#myModalSend' + userdataset.id">Send file</button>
        <!-- Modal -->
        <div class="modal fade" [attr.id]="'myModalSend' + userdataset.id" role="dialog">

            <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">
                    <app-email-file  [dataset_id]="userdataset.id"></app-email-file>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>


    </div>