<footer class="footer">
  <div class="container">
    <p class="text-center"><b>Designed by {{ team }}</b></p>
    <p class="text-right">Follow us with social media</p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li><a routerLink="/register"><b style="display: none">Sign Up</b></a></li>
          </ul>

            </div>
            <div class="col-sm-6 text-right">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-git" aria-hidden="true"></i></a></li>
             </ul>
            </div>
      </div>
  </div>
</footer>