
<div>
    <section class="user-data" *ngIf="userdata">
        <h2 class="heading-user-data">All history of your activity</h2><hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3"><app-user-files></app-user-files></div>
        <div class="verticalLine"></div>
        <div class="col-md-3"><app-user-filters></app-user-filters></div>
        <div class="verticalLine"></div>
        <div class="col-md-3"><app-user-data-sets></app-user-data-sets></div>
        <div class="col-md-2"></div>
    </div>
    </section>
    <section class="empty-user-data" *ngIf="!userdata">
        <h3>You have no files to work with</h3>
        <p>Please upload file use button below or drag files here</p>
        <div>
            <input
                    style="display: none"
                    type="file" (change)="onFileSelected($event)"
                    class="custom-file"
                    #fileInput
            >
            <button type="button" (click)="fileInput.click()">+</button>
        </div>
    </section>
</div>
<h2>You can upload new file:</h2>
<app-file-upload-selector></app-file-upload-selector>

