.verticalLine {
    border-left: 2px solid #b1abab;
  }
.heading-user-data{
  text-align: center;
  margin-top: 4%;
}

app-modal {
  /* modals are hidden by default */

  display: none;
}
.custom-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
.custom-modal .custom-modal-body {
  display: inline-block;
  position: center;
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}
.custom-modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .modal and above everything else  */

  z-index: 900;
}

.file-add-button {
  position: center;
  padding: 20px;
}
.statModal{
  width: 90%;
  height: 80%;
  align-self: auto;
}