<div>
    <section class="user-data" *ngIf="userdata">
        <div class="jumbotron" style="margin-bottom: 0; padding-top: 30px; padding-bottom: 40px;">
            <h2 class="heading-user-data">All history of your activity</h2>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <app-user-files></app-user-files>
            </div>
            <div class="verticalLine"></div>
            <div class="col-md-3">
                <app-user-filters></app-user-filters>
            </div>
            <div class="verticalLine"></div>
            <div class="col-md-4">
                <app-user-data-sets></app-user-data-sets>
            </div>
        </div>
    </section>
</div>

<app-modal id="statModal">
    <div class="custom-modal align-content-center">
        <div class="custom-modal-body">
                <app-statistics *ngFor="let item of statToDisplay" [datasetId]="item"></app-statistics>
                <button class="btn btn-success" (click)="closeModal('statModal')">Close</button>
        </div>
    </div>
    <div class="custom-modal-background"></div>
</app-modal>
<app-modal id="filterPreview">
    <div class="custom-modal align-content-center">
        <div class="custom-modal-body" *ngIf="filterFile">
            <button (click)="closeModal('filterPreview')">x</button>
            <app-filter-preview [item]="message" [fileid]="filterFile"></app-filter-preview>
        </div>
    </div>
    <div class="custom-modal-background"></div>
</app-modal>

