<div>
    <input style="display: none"
            type="file" #files (change)="onFileSelected(files, $event);
                                         openModal('custom-modal-1')"
            multiple
            class="custom-file"
            accept=".csv,
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                    application/vnd.ms-excel"
            #fileInput>
    <div class="file-add-button">
        <button type="button" (click)="fileInput.click()">+</button>
    </div>
</div>
<div *ngIf="filesToUpload">
    <app-file-upload-process *ngFor="let item of filesToUpload" [fileUpload]="item"></app-file-upload-process>
</div>
<app-modal id="custom-modal-1">
    <div class="custom-modal">
        <div class="custom-modal-body">
            <app-upload-confirm
                    *ngIf="selectedFile"
                    [uploadFiles]="selectedFile"
                    (onUploadFiles)="onUploadFiles($event)">
            </app-upload-confirm>
        </div>
    </div>
    <div class="custom-modal-background"></div>
</app-modal>
