<div *ngIf="!fileDeleted">
    <div class="card container">
        <h3>{{ file_index + 1 }}. {{ userfile.name }}</h3>
        <div class="row">
            <button type="button"
            style="margin : 2px"
                    class="btn btn-sm btn-outline-info col-2"
                    (click)="openStat()">
                <i class="fa fa-bar-chart-o"></i>
            </button>
            <div class="file-stat col-8">
                <span> rows: {{ userfile.nRows }} </span>
                <span> size: {{ bytestToMBytes(userfile.size) }} MB </span>
                <span>       {{ userfile.uploadDate }}</span>

            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>
            <div class="text-left">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                style="margin: 2px"
                        [attr.data-target]="'#delete-model'+file_index"><i class="fa fa-trash-o"></i></button>

                <div [attr.id]="'delete-model'+file_index" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Are u really wanna delete this file? {{ userfile.name }}</h3><br>
                            </div>
                            <div class="modal-body">
                                <p>It will also delete all dataset linked with this file!</p>
                                <div class="modal-buttons">

                                    <button class="btn btn-sm btn-outline-danger delete-button" (click)="deleteFile(userfile.id)"
                                            data-dismiss="modal">Delete
                                    </button>

                                    <button type="button" style="text-align: right"
                                            class="btn btn-sm btn-outline-success cancel-button" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
