<div *ngIf="!filterDeleted">
    <div class="card">
        <div class="row ">

            <div class="col-md-6"><h3>"{{ userfilter.name }}"</h3></div>
            <div class="col-md-3">
                <button class="btn btn-sm btn-outline-success" (click)="onShow('filterPreview')"
                        style="margin-top: 3px">Preview <i class="fa fa-search"></i>
                </button>
                
            </div>
            <div class="col-md-2"><button class="btn btn-sm btn-outline-danger" style="margin-top: 2px;"
                (click)="deleteFilter(userfilter.id)">
                <i class="fa fa-trash"></i>
            </button></div>
            <div class="alert"  *ngIf="errorMessage"><p style="color : red;">*{{ errorMessage }}</p></div>
        </div>
    </div>
</div>
<br>
<app-filter-preview [item]="message" [fileid]="userfilter.fileId"></app-filter-preview>
