<ngx-spinner
  bdColor="rgb(255, 255, 255)"
  size="medium"
  color="#fff"
  >
  <img src="https://media.giphy.com/media/26DN2iTaW5mmmJtug/giphy.gif" alt="Exel Loading">
 <p style="font-size: 25px; color: white">Loading...</p>
</ngx-spinner>
<div>
    <div class="plot">
        <div class="tab">
          <button #pie class="tablinks" (click)="setPlot('pie', pie, bar) ">Pie</button>
          <button #bar class="tablinks" (click)="setPlot('bar', bar, pie)">Bar</button>
        </div>
        <label for="column_selection">Select Column: </label>
        <select id="column_selection" #selection (change)="makeSelection(selection.value)" class="selectpicker">
            <option *ngFor="let column of columns"> {{column}}</option>
        </select>
        <plotly-plot *ngIf="this.plot=='pie'"
                     [config]="graph['config']" [data]="graph['pie']" [layout]="graph['layout']"></plotly-plot>
        <plotly-plot *ngIf="this.plot=='bar'"
            [config]="graph['config']" [data]="graph['bar']" [layout]="graph['layout']"></plotly-plot>
    </div>

</div>