<div class="jumbotron" style="margin-bottom: 0; padding-top: 30px; padding-bottom: 40px;">
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <input type="text" placeholder="Filter name" style="width: 200px; margin-bottom: 20px"
                   [className]="filter_name ? 'form-control' : 'form-control is-invalid'"
                   [ngModel]="filter_name"
                   (ngModelChange)="setFilterName($event)">
            <div class="invalid-feedback">
                                This field is required
            </div>
        </div>
    </div>
    </div>
<table class="table table-hover" *ngIf="file_id">
    <tbody>
    <tr *ngFor="let index of  filter_params | keyvalue">
                {{ onSetAmount(index.key, index.value.params.quantity) }}
        <td class="per30">
            <filter-item
                    [columns]="columns"
                    [f_index]="index.key"
                    [file_id]="file_id"
                    [child]="false"
                    [parent_id]="false"
                    [child_id]="false"
                    [totalRows]="totalRows"
                    [metadata]="metadata"
                    [f_param]="filter_params"
                    (updateFilterItemParams)="updateFilterParams($event)"
            ></filter-item>
        </td>
        <td>
            <table *ngIf="index.value.child; else chl" class="table table-hover">
                <tr *ngFor="let ch_index of  index.value.child | keyvalue">
                    {{ onSetAmountLastChild(ch_index.key, ch_index.value.params.quantity) }}
                    <td>
                        <filter-item
                                [columns]="columns"
                                [f_index]="ch_index.key"
                                [file_id]="file_id"
                                [child]="'first'"
                                [parent_id]="index.key"
                                [child_id]="false"
                                [totalRows]="totalAmount[index.key]"
                                [metadata]="metadata"
                                [f_param]="filter_params"
                                (updateFilterItemParams)="updateFilterParams($event)"
                        ></filter-item>
                    </td>
                    {{ onReduceAmount(index.key, ch_index.value.params.quantity) }}
                    <td>
                        <table *ngIf="ch_index.value.child ; else last_child" class="table table-hover">
                            <tr *ngFor="let ls_ch_index of  ch_index.value.child | keyvalue">
                                <td>
                                    <filter-item
                                            [columns]="columns"
                                            [f_index]="ls_ch_index.key"
                                            [file_id]="file_id"
                                            [child]="false"
                                            [parent_id]="index.key"
                                            [child_id]="ch_index.key"
                                            [totalRows]="totalAmountLastChild[ch_index.key]"
                                            [metadata]="metadata"
                                            [f_param]="filter_params"
                                            (updateFilterItemParams)="updateFilterParams($event)"
                                    ></filter-item>
                                    {{ onReduceAmountLastChild(ch_index.key, ls_ch_index.value.params.quantity) }}
                                </td>
                            </tr>
                        </table>
                        <ng-template #last_child>
                            <button type="button" class="btn btn-success"
                                    (click)="addLastChild(index.key, ch_index.key)">Add Last Child
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </table>
            <ng-template #chl>
                <button type="button" class="btn btn-success" (click)="addChild(index.key)">Add Child</button>
            </ng-template>
        </td>
    </tr>
    </tbody>
</table>
<div class="row justify-content-md-center" *ngIf="file_id">
    <div class="col col-md-4">
        <hr class="my-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="saveFilter()">Save filter</button>
        <div class="filter-incomplite" *ngIf="save_error">
                              {{ save_error }}
        </div>
    </div>
</div>
