<div *ngIf="!fileDeleted">
    <h3>{{ file_index + 1 }}. {{ userfile.name }}</h3>
    <button class="btn btn-success" *ngIf="!showDatasetStat"  (click)="getStatDataset()">Stat</button>
    <button class="btn btn-success" *ngIf="showDatasetStat"  (click)="getStatDataset()">Hide stat</button>
    <div class="file-stat">
        <span> rows: {{ userfile.rows }} </span>
        <span> size: {{ bytestToMBytes(userfile.size) }} MB </span>
        <span>       {{ userfile.date }}</span>

    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    
    <app-statistics  *ngIf="showDatasetStat" [dataset_id]="userfile.id"></app-statistics>
    <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#delete-model'+file_index">Delete file</button>

    <div  [attr.id]="'delete-model'+file_index" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h3>Are you realy want to delete this file? {{ userfile.name }}</h3><br>
          </div>
          <div class="modal-body">
                <p>It will also delete all dataset linked with this file!</p>
            <div class="modal-buttons">

            <button  class="btn btn-danger delete-button" (click)="deleteFile(userfile.id)"
                                data-dismiss="modal">Delete</button>
            
            <button type="button" style="text-align: right"
            class="btn btn-success cancel-button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


