<div *ngIf="!fileDeleted">
    <h3>{{ file_index + 1 }}. {{ userfile.name }}</h3>

    <div class="file-stat">
        <span> rows: {{ userfile.rows }} </span>
        <span> size: {{ bytestToMBytes(userfile.size) }} MB </span>
        <span>       {{ userfile.date }}</span>

    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="text-left">
    <div class="container ">
      <!-- Trigger the modal with a button -->
      <button type="button" id='data-target'
       class="btn btn-success"  data-toggle="modal" [attr.data-target]="'#myModalFile' + userfile.id">Open Statistic</button>
      <!-- Modal -->
      <div class="modal fade" [attr.id]="'myModalFile' + userfile.id" role="dialog">

          <div class="modal-dialog modal-lg">
          <div class="modal-content">

              <div class="modal-body">
                <app-statistics [datasetId]="userfile.dataset_id"></app-statistics>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
          </div>
      </div>

    <br>
  </div>
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" [attr.data-target]="'#delete-model'+file_index">Delete file</button>

      <div  [attr.id]="'delete-model'+file_index" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <h3>Are u really wanna  delete this file? {{ userfile.name }}</h3><br>
            </div>
            <div class="modal-body">
                  <p>It will also delete all dataset linked with this file!</p>
              <div class="modal-buttons">

              <button  class="btn btn-danger delete-button" (click)="deleteFile(userfile.id)"
                                  data-dismiss="modal">Delete</button>

              <button type="button" style="text-align: right"
              class="btn btn-success cancel-button" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


</div>